@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@200&family=Libre+Baskerville&family=Oxanium:wght@300&display=swap");
.houses {
  font-family: "GameOfThrones";
  padding-top: 40px;
  font-weight: 500;
  font-size: 50px;
  color: aliceblue;
  text-shadow: 2px 2px black;
}

.sub {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 1px black;
}

.text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iimg {
  filter: brightness(70%);
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.text > h2 {
  font-family: "Indie Flower", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Oxanium", cursive;
}

